[Unit]
Description=RSS Feed Index Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node bot/crawler.js --run
WorkingDirectory=REPLACEME_WORKDIR
Restart=always
RestartSec=5

[Install]
WantedBy=default.target