.highlight {
    background-color: yellow;
}

.feed-entry a.feed {
    display:inline-block;
    text-decoration: none;
    color: #333;
}

.feed-entry a.domain {
    font-weight: bold;
    width: 25%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed-entry img.icon {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.feed-entry .label {
    display: block;
    float: right;
    font-size: 0.8em;
    background-color: #ddd;
    padding: 0.2rem;
    margin-left: 0.5em;
    border-radius: 0.2rem;
}

input#search {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}